{{ define "main" }}
<div class="container">
  <article>
    {{ partial "breadcrumbs.html" . }}
    <h1 class="article-title">{{ .Title }}</h1>
    {{ with .Content }}<div>{{ . }}</div>{{ end }}
    <ul class="item-list">
      {{ range .Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ if .Draft }} <span class="draft-badge">draft</span>{{ end }}
        {{ with .Date }}<span class="date">{{ .Format "Jan 2, 2006" }}</span>{{ end }}
      </li>
      {{ end }}
    </ul>
  </article>
</div>
{{ end }}